p { 
    font-size: 80px; color: brown; font-weight: bold;
}

.wiki {
    color: burlywood;
}

.wiki:hover {
    color: indianred;
}



.img-links .img {
    color: darkseagreen;
}

.img-links .img:hover {
    color: magenta;
}