p { 
    font-size: 80px; color: brown; font-weight: bold;
}

.wiki {
    color: burlywood;
}

.wiki:hover {
    color: indianred;
}


/* default, hovering, and focus colors for image links */
.img-links .img {
    color: darkseagreen;
}

.img-links .img:hover,
.img-links .img:focus {
    color: magenta;
}



.fun-bagle {
    border-collapse: collapse;
}

.fun-bagle td {
    padding: 8px;
    border: 1px solid #212121;
}